<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienInvasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,974},{488,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,320}}</string>
                <key>sourceSize</key>
                <string>{488,320}</string>
            </dict>
            <key>awardLandless.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{491,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,321}}</string>
                <key>sourceSize</key>
                <string>{491,321}</string>
            </dict>
            <key>awardLandlord.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,970},{488,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,320}}</string>
                <key>sourceSize</key>
                <string>{488,320}</string>
            </dict>
            <key>awardStockholder.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,326},{490,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,323}}</string>
                <key>sourceSize</key>
                <string>{490,323}</string>
            </dict>
            <key>blast.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,651},{490,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,321}}</string>
                <key>sourceSize</key>
                <string>{490,321}</string>
            </dict>
            <key>bullMarket.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,325},{491,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,320}}</string>
                <key>sourceSize</key>
                <string>{491,320}</string>
            </dict>
            <key>earthquake.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,647},{490,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,321}}</string>
                <key>sourceSize</key>
                <string>{490,321}</string>
            </dict>
            <key>flood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,325},{490,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,321}}</string>
                <key>sourceSize</key>
                <string>{490,321}</string>
            </dict>
            <key>jailed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{491,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,322}}</string>
                <key>sourceSize</key>
                <string>{491,322}</string>
            </dict>
            <key>landFall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{490,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,319}}</string>
                <key>sourceSize</key>
                <string>{490,319}</string>
            </dict>
            <key>landRise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,320}}</string>
                <key>sourceSize</key>
                <string>{492,320}</string>
            </dict>
            <key>payTaxes.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{491,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,322}}</string>
                <key>sourceSize</key>
                <string>{491,322}</string>
            </dict>
            <key>stockCrash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,648},{489,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,322}}</string>
                <key>sourceSize</key>
                <string>{489,322}</string>
            </dict>
            <key>stopLending.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{490,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,321}}</string>
                <key>sourceSize</key>
                <string>{490,321}</string>
            </dict>
            <key>tornado.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{491,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,321}}</string>
                <key>sourceSize</key>
                <string>{491,321}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>News.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b380f47594f87e4901b827018a5731bc$</string>
            <key>textureFileName</key>
            <string>News.png</string>
        </dict>
    </dict>
</plist>
