<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,153},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>backBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,120},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>backBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,87},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>calculatorBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,193}}</string>
                <key>sourceSize</key>
                <string>{130,193}</string>
            </dict>
            <key>clearBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,70},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>clearBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,70},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>clearBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,70},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>eightBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,136},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>eightBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,120},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>eightBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,151},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>enterBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,197},{55,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,22}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>enterBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,197},{55,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,22}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>enterBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{55,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,22}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>fiveBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,135},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>fiveBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,119},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>fiveBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,119},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>fourBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,103},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>fourBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,103},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>fourBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,153},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>maxBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,197},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>maxBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,197},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>maxBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,197},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>nineBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,120},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>nineBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,87},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>nineBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,87},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>oneBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,53},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>oneBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,53},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>oneBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,53},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>sevenBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,87},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>sevenBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,219},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>sevenBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,186},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>sixBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,152},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>sixBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,167},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>sixBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,152},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>threeBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,36},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>threeBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,36},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>threeBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,36},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>twoBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,19},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>twoBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,19},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>twoBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,19},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>zeroBtn-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>zeroBtn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>zeroBtn-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>calculator.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:996fb3aa86fed5b2ed0132ea422cf548$</string>
            <key>textureFileName</key>
            <string>calculator.png</string>
        </dict>
    </dict>
</plist>
