<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>destory-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1766},{171,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,140}}</string>
                <key>sourceSize</key>
                <string>{171,140}</string>
            </dict>
            <key>destory-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1731},{171,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,140}}</string>
                <key>sourceSize</key>
                <string>{171,140}</string>
            </dict>
            <key>destory-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1696},{171,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,140}}</string>
                <key>sourceSize</key>
                <string>{171,140}</string>
            </dict>
            <key>fate-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1759},{124,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,166}}</string>
                <key>sourceSize</key>
                <string>{124,166}</string>
            </dict>
            <key>fate-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1759},{124,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,166}}</string>
                <key>sourceSize</key>
                <string>{124,166}</string>
            </dict>
            <key>fate-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,1766},{124,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,166}}</string>
                <key>sourceSize</key>
                <string>{124,166}</string>
            </dict>
            <key>getCard-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1574},{118,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,193}}</string>
                <key>sourceSize</key>
                <string>{118,193}</string>
            </dict>
            <key>getCard-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1452},{118,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,193}}</string>
                <key>sourceSize</key>
                <string>{118,193}</string>
            </dict>
            <key>getCard-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1452},{118,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,193}}</string>
                <key>sourceSize</key>
                <string>{118,193}</string>
            </dict>
            <key>hospital-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1887},{158,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,165}}</string>
                <key>sourceSize</key>
                <string>{158,165}</string>
            </dict>
            <key>hospital-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1936},{158,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,165}}</string>
                <key>sourceSize</key>
                <string>{158,165}</string>
            </dict>
            <key>hospital-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1910},{158,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,165}}</string>
                <key>sourceSize</key>
                <string>{158,165}</string>
            </dict>
            <key>jailed-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1609},{177,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,153}}</string>
                <key>sourceSize</key>
                <string>{177,153}</string>
            </dict>
            <key>jailed-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1574},{177,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,153}}</string>
                <key>sourceSize</key>
                <string>{177,153}</string>
            </dict>
            <key>jailed-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,1452},{177,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,153}}</string>
                <key>sourceSize</key>
                <string>{177,153}</string>
            </dict>
            <key>magicBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1923,1444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1923,1444}}</string>
                <key>sourceSize</key>
                <string>{1923,1444}</string>
            </dict>
            <key>saveAll-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,2098},{145,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,149}}</string>
                <key>sourceSize</key>
                <string>{145,149}</string>
            </dict>
            <key>saveAll-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2072},{145,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,149}}</string>
                <key>sourceSize</key>
                <string>{145,149}</string>
            </dict>
            <key>saveAll-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,2043},{145,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,149}}</string>
                <key>sourceSize</key>
                <string>{145,149}</string>
            </dict>
            <key>sellCard-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1452},{202,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,128}}</string>
                <key>sourceSize</key>
                <string>{202,128}</string>
            </dict>
            <key>sellCard-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1452},{202,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,128}}</string>
                <key>sourceSize</key>
                <string>{202,128}</string>
            </dict>
            <key>sellCard-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1452},{202,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,128}}</string>
                <key>sourceSize</key>
                <string>{202,128}</string>
            </dict>
            <key>sellTool-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1875},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,164}}</string>
                <key>sourceSize</key>
                <string>{165,164}</string>
            </dict>
            <key>sellTool-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,1840},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,164}}</string>
                <key>sourceSize</key>
                <string>{165,164}</string>
            </dict>
            <key>sellTool-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1759},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,164}}</string>
                <key>sourceSize</key>
                <string>{165,164}</string>
            </dict>
            <key>talkContentBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1452},{846,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,524}}</string>
                <key>sourceSize</key>
                <string>{846,524}</string>
            </dict>
            <key>turnBack-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1584},{171,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,176}}</string>
                <key>sourceSize</key>
                <string>{171,176}</string>
            </dict>
            <key>turnBack-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1584},{171,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,176}}</string>
                <key>sourceSize</key>
                <string>{171,176}</string>
            </dict>
            <key>turnBack-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1584},{171,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,176}}</string>
                <key>sourceSize</key>
                <string>{171,176}</string>
            </dict>
            <key>upgrade-hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,2008},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{162,158}</string>
            </dict>
            <key>upgrade-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1927},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{162,158}</string>
            </dict>
            <key>upgrade-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1887},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{162,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1700b66de04156791b9402df20160ed7$</string>
            <key>textureFileName</key>
            <string>magic.png</string>
        </dict>
    </dict>
</plist>
